@import "@styles/_mixin";
@import "@styles/_var";

.page_title {
  font-size: 26px;
  padding-left: 10px;
  border-left: 5px solid var(--green-200);
  margin-bottom: 10px;

  span {
    font-size: 15px;
    line-height: 15px;
  }
}

.container {
  outline: 1px solid var(--grey-200);

  @include desktop {
    outline: 1px solid var(--light-green);
  }

  @include pad {
    outline: 1px solid var(--green-200);
  }

  @include mobile {
    outline: 1px solid #ccc;
  }
}

.container {
  min-height: calc(100vh - 90px - 90px - 362px - 125px);
  max-width: 1280px;
  width: 90%;
  margin: 0 auto 40px;

  &.small {
    max-width: 1100px;
  }

  @include pad {
    min-height: calc(100vh - 90px - 362px - 125px);
  }

  @include mobile {
    min-height: calc(100vh - 60px - 362px - 125px - 20px);
  }
}

.checkbox_input {
  &:hover label {
    color: var(--green-200);
  }

  input[type='checkbox'] {
    display: none;

    &:checked~label {
      &::after {
        opacity: 1;
      }
    }
  }

  label {
    position: relative;
    display: flex;
    font-size: 13px;
    transition: color 0.1s ease;
    cursor: pointer;
    line-height: 1.5;
    flex-wrap: wrap;
    color: var(--grey-200);
    align-self: start;

    a span {
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }

    .space {
      padding: 0 0.2em;
    }

    &::before {
      content: '';
      border-radius: 3px;
      margin-right: 5px;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid var(--grey-200);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      opacity: 0;
      border-radius: 2px;
      width: 12px;
      height: 12px;
      transform: translate(3px, 3px);
      transition: opacity 0.1s ease;
      background-color: var(--green-200);
    }
  }
}

.text_input {
  display: block;
  position: relative;

  box-sizing: border-box;

  margin: 0 auto;
  max-width: 500px;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: Noto Sans TC, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 22px 10px 2px;
    width: 100%;

    overflow: visible;
    margin: 0;
    box-sizing: border-box;

    &:focus {
      border-color: rgba(0, 0, 0, 0.6);
      outline: none;
    }

    &:placeholder-shown:not(:focus) {
      &::placeholder {
        color: rgba(0, 0, 0, 0);
      }

      &+* {
        font-size: 18px;
        left: 10px;
        opacity: 0.7;
        pointer-events: none;
        top: 22px;
        transition: all 0.1s ease-out;
      }
    }
  }

  label {
    cursor: text;
    font-size: 13px;
    left: 10px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: all 0.1s ease-out;

    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }
}

.btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  font-size: 18px;
  position: relative;

  img {
    width: 24px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }

  transition: background-color 0.25s ease;
  background-color: var(--green-200);
  color: var(--white);
  line-height: 1;

  &:hover {
    background-color: darken($color: $green-200, $amount: 5);
  }
}

.title__wrapper--shared {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.container__title--shared {
  margin: 0;
  letter-spacing: 1px;
  font-size: 18px;
  color: #218431;
  padding: 15px 0 20px;
  font-weight: 300;
  -webkit-text-decoration: underline #218431 1px;
  text-decoration: underline #218431 1px;
  text-underline-offset: 5px;

  @include desktop {
    padding: 15px 0 15px;
  }
}

////
.popup-backdrop {
  position: fixed;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  // right: 0;
  // bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  overflow: hidden;
}

.popup {
  display: block;
  max-width: 1000px;
  width: 90vw;
  height: 90vh;
  background-color: white;

  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 20px;

  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translate(var(--x), var(--y));
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include mobile {
    transform: translate(0, 0);
    cursor: auto;

    &:active {
      cursor: auto;
    }
  }

  &-button {
    position: absolute;
    margin: auto;

    background-color: transparent;
    border: none;

    display: block;
    width: 48px;
    height: 48px;

    cursor: pointer;
  }

  &-button--close {
    top: 5px;
    right: 5px;
    border-radius: 15px;
    /* Circular shape */

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    /* Adjust font size as needed */

    &:hover {
      &::before {
        color: #333;
      }
    }

    &:active {
      &::before {
        color: #aaa;
      }
    }

    &::before {
      content: "\2c";
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      color: #666;
    }
  }

  &-button--toggle-prev {
    top: 0;
    bottom: 0;
    left: -50px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.2;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.5;
    }

    @include mobile {
      display: none;
    }
  }

  &-button--toggle-next {
    top: 0;
    bottom: 0;
    right: -50px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.2;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }

    @include mobile {
      display: none;
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  max-width: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include pad {
    flex-wrap: wrap;
  }

  & {
    &__wrapper {
      @include pad {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    }

    &__number {
      flex-basis: 50px;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 1px solid var(--grey-0);
      transition: all 0.25s ease;
      margin-right: 15px;

      &.active {
        color: var(--white);
        background-color: var(--green-200);
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--white);
          background-color: var(--green-200);
        }
      }

      @include mobile {
        flex-basis: 40px;
        height: 40px;
      }

      @media (max-width: 320px) {
        margin-right: 10px;
      }

      &.small {
        font-size: 14px;

        @include mobile {
          font-size: 12px;
        }

        @media (max-width: 320px) {
          font-size: 10px;
        }
      }

      &.last {
        margin-right: 0;
      }
    }

    &__btn {
      border-radius: 3px;
      margin-right: 20px;
      width: 100px;
      height: 50px;
      font-size: 18px;
      border: 1px solid var(--grey-0);

      transition: background-color 0.25s ease;
      background-color: white;
      color: black;

      &:hover {
        background-color: darken($color: #fff, $amount: 5);
      }

      pointer-events: none;
      transition: all 0.25s ease;
      color: var(--grey-100);
      opacity: 0;

      &.enable {
        pointer-events: all;
        color: var(--black);
        opacity: 1;
      }

      &:nth-of-type(2),
      &:last-of-type {
        margin-right: 0;
      }

      &:nth-of-type(2) {
        @include pad {
          margin-right: 20px;
        }
      }

      &--first {
        @include pad {
          order: 2;
        }
      }

      &--prev {
        @include pad {
          order: 3;
        }

        @include mobile {
          display: none;
        }
      }

      &--next {
        @include pad {
          order: 4;
        }

        @include mobile {
          display: none;
        }
      }

      &--last {
        @include pad {
          order: 5;
        }
      }
    }

    &--hint {
      margin: 0 15px;
      font-size: 18px;
      line-height: 50px;
      opacity: 0;
      transform: translateY(-5px);
      transition: opacity 0.25s ease;
      cursor: default;

      &.show {
        opacity: 1;
      }

      @include mobile {
        line-height: 36px;
      }

      @media (max-width: 320px) {
        margin: 0 10px;
      }
    }

    &__total {
      color: var(--grey-200);
      margin-left: 20px;
      text-align: center;
      font-size: 15px;

      span {
        font-size: 18px;
      }

      @include pad {
        order: 6;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}