@import "@styles/_mixin";
@import "@styles/_var";

.rights {
	&__page {
    background-color: #fff;
  }
	&__container {
		max-width: 900px;
		margin: 40px auto 0;
		margin-bottom: 50px;
		 @include mobile {
			margin-top: 20px;
		}
	}
	&__wrapper {
		margin-bottom: 30px;
		 @include mobile {
			margin-bottom: 20px;
		}
	}
	&__title {
		display: flex;
		align-items: center;
		color: var(--green-200);
		margin-bottom: 30px;
		transform: translateX(-10px);
		align-items: center;
		&::before {
			content: '';
			width: 10px;
			height: 10px;
			margin-right: 5px;
			background-color: var(--green-200);
		}
		 @include pad {
			margin-left: 2.5%;
		}
		 @include mobile {
			margin-bottom: 20px;
		}
		span {
			font-size: 18px;
			margin-left: 5px;
		}
		img {
			transform: translateY(2.5px);
		}
	}
	&__list {
		margin: 0;
		list-style-type: number;
		 @include mobile {
			padding-left: 20px;
		}
	}
	&__text {
		line-height: 2;
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
		a {
			color: var(--green-200);
			font-weight: 400;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}